.search-table-component {
  display: flex;
  flex-flow: column nowrap;
  // place-content: center;
  align-items: flex-start;
  height: 100%;

  // 搜索部分
  .st-search-root {
    flex: 0 1 auto;
    width: 100%;

    .ant-form-item-label {
      min-width: 80px;
      text-align: right;
    }

    .collapse-button {
      margin-left: 8px;
    }
  }

  // 工具栏按钮部分
  .st-tool-root {
    flex: 0 1 auto;
    width: 100%;
    padding: 5px 0 10px;
    &>* {
      margin-right: 10px;
    }
  }

  // 表格本体
  .st-table-root {
    flex: 3 1 auto;
    width: 100%;

    .ag-root,
    .ag-row {
      border-color: #d9d9d9;
    }

    .ag-header {
      border-bottom-color: #d9d9d9;
    }

    .ag-pinned-right-header,
    .ag-ltr .ag-cell:not(.ag-cell-focus).ag-cell-first-right-pinned:not(.ag-cell-range-left),
    .ag-ltr .ag-cell.ag-cell-range-selected:not(.ag-cell-range-single-cell).ag-cell-first-right-pinned:not(.ag-cell-range-left),
    .ag-ltr .ag-root:not(.ag-has-focus) .ag-cell.ag-cell-first-right-pinned:not(.ag-cell-range-left) {
      border-left-color: #d9d9d9;
    }
    .ag-pinned-left-header,
    .ag-ltr .ag-cell:not(.ag-cell-focus).ag-cell-last-left-pinned:not(.ag-cell-range-right),
    .ag-ltr .ag-cell.ag-cell-range-selected:not(.ag-cell-range-single-cell).ag-cell-last-left-pinned:not(.ag-cell-range-right),
    .ag-ltr .ag-root:not(.ag-has-focus) .ag-cell.ag-cell-last-left-pinned:not(.ag-cell-range-right) {
      border-right-color: #d9d9d9;
    }
  }

  // 底部栏
  .st-bottom-root {
    padding-top: 15px;
    text-align: right;
    width: 100%;
    flex: 0 1 auto;
  }

  div.ant-typography,
  .ant-typography p {
    color: inherit;
    margin-bottom: 0;
  }
}